@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<div class="alert alert-danger">
    <p>Mã sinh viên: 2300012345</p>
    <p>Biệt danh: @ViewBag.about </p>
    <p>Họ tên: Trịnh Văn Chung</p>
    <p>Lớp: K23CNT1-NET</p>
    <p>Email: chungtrinhj@gmail.com</p>
    <p>Điện thoại: 0978.611.889</p>
</div>
