@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: 230001122</p>
    <p>Họ và tên: Chung Trịnh</p>
    <p>Email: chungtrinhj@gmail.com</p>
    <p>Điện thoại: <a href="tel:0978611889" title="0978611889">0978.611.889</a>    </p>
    <p>Lớp: K23CNT1</p>
</div>

