@model TvcLesson10EF.Models.Category

@{
    ViewData["Title"] = "Sửa thông tin danh mục loại";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="TvcEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">
                    <h1 class="my-2">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    <div class="form-group my-1">
                        <label asp-for="CategoryId" class="control-label mb-1"></label>
                        <input asp-for="CategoryId" class="form-control" readonly />
                    </div>
                    <div class="form-group my-1">
                        <label asp-for="CategoryName" class="control-label mb-1"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group my-2">
                        <input type="submit" value="Cập nhật" name="btnTvcEdit" class="btn btn-primary" />
                        <a asp-action="TvcIndex" class="btn btn-danger">Quay lại</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
