<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - TvcLesson03 - <a asp-area="" asp-controller="TvcHome" asp-action="TvcAbout">About</a>
    </div>
</footer>
